# ASSIGNMENT 2

### Excecuting basic block of code

In [1]:
# importing libraries needed to scrap data,here usimg selenium
import pandas as pd
import selenium
from selenium import webdriver

In [2]:
#now i will great a function to accpet a url
def url():
    url=input("enter the Url for web scraping ")
    return url

In [175]:
driver=webdriver.Chrome(r"C://Users/8.1/chromedriver")

In [144]:
import time

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

- link = https://www.naukri.com/browse-jobs

In [5]:
# lets call the function which is going to accept the url 
u1=url()

enter the Url for web scraping https://www.naukri.com/browse-jobs

In [6]:
driver.get(u1)

In [7]:
# By using path we will search the job and location 
search=driver.find_element_by_xpath("//*[@id='skill']/div[1]/div[2]/input")  #path were we enter job role
location=driver.find_element_by_xpath("//*[@id='location']/div[1]/div[2]/input") #path were we enter the location

In [8]:
search.send_keys("Data Analyst")  # entering job role need to search
location.send_keys("Bangalore")   # entering city where we need to look for the job

In [9]:
search.submit()  # submitting  the search will search the results

In [12]:
#so lets create empty list for those data which we need to scrap
job_title=[]
company=[]
experience=[]
location=[]

In [13]:
#now we will get all the tags and extract text from them and append it to there repective list
jt=driver.find_elements_by_xpath("//div[@class='info fleft']/a")  # getting job title tags

In [14]:
#running for loop upto index 10 to get starting 10 jobs from job title tag and getting text out it
for i in jt[0:10]:  
    job_title.append(i.text)

In [15]:
job_title

['Business Analyst/ Data Analyst/ MIS Executive (On Contract)',
 'Data Scientist/Data Analyst-immediate',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Research Team',
 'Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Business Data Analyst - Database Design/Mining',
 'Data Analyst - MySQL/PostgreSQL',
 'Hiring For Data Analyst On Contractual Role']

In [16]:
# getting company name tags
cn=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

In [17]:
#running for loop of company tag and getting text out it
for i in cn[0:10]:  
    company.append(i.text)

In [18]:
company

['Schneider Electric',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Applied Materials',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'CBRE South Asia Pvt Ltd',
 'Cognizant Technology Solutions India Pvt Ltd',
 'RANDSTAD INDIA PVT LTD',
 'AugmatrixGo',
 'Astegic',
 'Flipkart Internet Private Limited']

In [19]:
# getting experience tags
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [20]:
#running for loop of experience tag and getting text out it
for i in exp[0:10]:  
       experience.append(i.text)

In [21]:
experience

['2-5 Yrs',
 '0-3 Yrs',
 '6-11 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-4 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '1-3 Yrs']

In [22]:
# getting location tags
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [23]:
#running for loop of location tag and getting text out it
for i in loc[0:10]:
    location.append(i.text)

In [24]:
location

['Bengaluru / Bangalore',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, Kolkata',
 'Bengaluru',
 'Bengaluru',
 'Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur',
 'Bengaluru']

In [25]:
# making the dataframe
import pandas as pd
jobs=pd.DataFrame({})
jobs['job_title']=job_title
jobs['company']=company
jobs['experience']=experience
jobs['location']=location

In [26]:
jobs

,job_title,company,experience,location
0,Business Analyst/ Data Analyst/ MIS Executive ...,Schneider Electric,2-5 Yrs,Bengaluru / Bangalore
1,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
2,Data Analyst,Applied Materials,6-11 Yrs,Bengaluru
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs,Bengaluru
4,Data Analyst - Research Team,CBRE South Asia Pvt Ltd,1-4 Yrs,Bengaluru
5,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,3-4 Yrs,"Bengaluru, Kolkata"
6,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,2-4 Yrs,Bengaluru
7,Business Data Analyst - Database Design/Mining,AugmatrixGo,2-5 Yrs,Bengaluru
8,Data Analyst - MySQL/PostgreSQL,Astegic,5-10 Yrs,"Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur"
9,Hiring For Data Analyst On Contractual Role,Flipkart Internet Private Limited,1-3 Yrs,Bengaluru

### Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data

- link= https://www.naukri.com/browse-jobs

In [27]:
# lets call the function which is going to accept the url 
u2=url()

enter the Url for web scraping https://www.naukri.com/browse-jobs

In [28]:
driver.get(u2)

In [30]:
# By using path we will search the job and location 
search=driver.find_element_by_xpath("//*[@id='skill']/div[1]/div[2]/input")  #path were we enter job role
location=driver.find_element_by_xpath("//*[@id='location']/div[1]/div[2]/input") #path were we enter the location

In [31]:
search.send_keys("Data Scientist")  # entering job role need to search
location.send_keys("Bangalore")   # entering city where we need to look for the job

In [32]:
search.submit()

In [33]:
#firstly we create empty list and get the links of the job title.Then through each link we will get required info.
job_link=[]

In [34]:
#getting the jobs tags and then in that tag getting attribute href which holds the link of the job title
for i in driver.find_elements_by_xpath("//div[@class='info fleft']/a"):
    job_link.append(i.get_attribute('href'))

In [35]:
Job_Title=[]
Company_name=[]
Job_location=[]
Job_description=[]

In [36]:
#now running loop upto index 10 as we need details of starting 10 jobs. 
for i in job_link[0:10]:
    driver.get(i)
# getting job title    
    j=driver.find_element_by_xpath("//div[@class='jd-top-head']//h1[1] | //div[@class='jdContainer']//h1[1] | //div[@class='cTitle f16 lh30']//h1[1]")
    Job_Title.append(j.text)
# getting company name     
    k=driver.find_element_by_xpath("//div[@class='jd-header-comp-name']//a[1] | //p[@class='cpName f14'] | //div[@class='ptb20']/div[2]")
    Company_name.append(k.text)
 # getting location of the job   
    l=driver.find_element_by_xpath("//span[@class='location '] | //span[@class='fl disc-li']//a[1] |  //div[@class='col-sm-9']//span[1]")
    Job_location.append(l.text)
# getting job description    
    m=driver.find_element_by_xpath("//section[@class='job-desc']//div[1] | //div[@class='ptb20 hLine']//div[2] | //div[@class='clearboth description']")
    Job_description.append(m.text)
    time.sleep(5)

In [37]:
#checking the lenght of the list
print(len(Job_Title))
print(len(Company_name))
print(len(Job_location))
print(len(Job_description))

10
10
10
10

In [38]:
#while extracting the job descripition in text there is "\n" so we will replace with empty space
for i in range(0,10):
    Job_description[i]=Job_description[i].replace("\n"," ")

In [39]:
#creating the dataframe
Jobs=pd.DataFrame({})
Jobs['Job_Title']=Job_Title
Jobs['Company_name']=Company_name
Jobs['Job_location']=Job_location
Jobs['Job_description']=Job_description

In [40]:
#final dataframe
Jobs

,Job_Title,Company_name,Job_location,Job_description
0,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",Dear Candidate Schedule a Telephonic Intervie...
1,Data Scientist - Machine Learning,AugmatrixGo,Bengaluru,Roles and Responsibilities - Selecting featu...
2,DATA SCIENTIST – MACHINE LEARNING,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,"Roles and Responsibilities Under guidance, or ..."
3,DATA SCIENTIST – MACHINE LEARNING,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,Roles and Responsibilities The Yantriks Data S...
4,Senior Associate - Data Scientist/ML Engineer,Pricewaterhouse Coopers Private Limited,Bengaluru,Day-to-Day Responsibilities Design and develop...
5,Senior Data Scientist,Philips India Limited,Bengaluru,"Job Description At Philips, data is in the cen..."
6,Data Scientist - Machine Learning - Remote Wor...,Doji Ltd,"Delhi NCR, Bengaluru, Anywhere in India",Please note that this role will be Remote / Ho...
7,Senior Data Scientist,Fractal Analytics,Bengaluru,Role Brief As a Senior data scientist you will...
8,Sr. Data Scientist,NetApp,Bengaluru,Job Summary This Cloud Business Operations Dat...
9,Data Scientist,GENPACT India Private Limited,Bengaluru,We are inviting applications for the role of D...

### Q3: In this question you have to scrape data using the filters available on the webpage as The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs and then scrape data for “Data Scientist” designation for first 10 job results.

- link= https://www.naukri.com/browse-jobs

In [246]:
#calling the function and entering the url link 
u3=url()

enter the Url for web scraping https://www.naukri.com/browse-jobs

In [247]:
driver.get(u3)

In [115]:
# By using path we will search the job and location 
search=driver.find_element_by_xpath("//*[@id='skill']/div[1]/div[2]/input")  #path were we enter job role
location=driver.find_element_by_xpath("//*[@id='location']/div[1]/div[2]/input") #path were we enter the location

In [116]:
search.send_keys("Data Scientist")  # entering job role need to search

In [117]:
#submit the search results
search.submit()

In [118]:
 #now clicking on the filter having location delhi/ncr
driver.find_element_by_xpath("//div[@class='filterOptns']/div[2]").click()

In [119]:
# clicking on the filter having salary 3-6 lakhs
driver.find_element_by_xpath("//div[@data-filter-id='salaryRange']/div[2]").click()

In [120]:
#now creating the empty list which is required to store extracted data 
job_title=[]
company=[]
location=[]
experience=[]

In [121]:
#now getting the all the tags and extracting data from it and appending in the list
for i in driver.find_elements_by_xpath("//div[@class='info fleft']/a[1]")[0:10]:
    job_title.append(i.text)
for j in driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']//a[1]")[0:10]:
    company.append(j.text)
for k in driver.find_elements_by_xpath("//ul[@class='mt-7']//li[3]")[0:10]:
    location.append(k.text)
for l in driver.find_elements_by_xpath("//ul[@class='mt-7']//li[1]//span[1]")[0:10]:
    experience.append(l.text)

In [122]:
print(len(job_title))
print(len(company))
print(len(location))
print(len(experience))

10
10
10
10

In [123]:
#creating the dataframe
df_jobs=pd.DataFrame({})
df_jobs['job_title']=job_title
df_jobs['company']=company
df_jobs['location']=location
df_jobs['experience']=experience

In [124]:
df_jobs

,job_title,company,location,experience
0,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs
1,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,3-5 Yrs
2,Tech Mahindra hiring For Data Scientist- Noida,tech mahindra ltd,Noida,5-10 Yrs
3,Data Scientist - Commercial Planning and Analysis,Air Asia India Limited,"Delhi NCR, Gurgaon",1-6 Yrs
4,Data Scientist,Amity University,"Faridabad, Delhi NCR, Ghaziabad",6-8 Yrs
5,Data Scientist,World Wide Technology,Gurgaon,3-8 Yrs
6,Data Scientist - Machine Learning/ Artificial ...,Talent Acceleration Corridor,"Delhi/NCR Delhi NCR, Noida",6-11 Yrs
7,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",3-8 Yrs
8,Data Scientist Machine Learning,Delhivery,Gurgaon,1-3 Yrs
9,Data Scientist,Eighteen Pixels India Private Limited,Delhi NCR,2-6 Yrs

## 4. Write a python program to scrape data from glassdoor for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

-link= https://www.glassdoor.co.in/index.htm

In [277]:
#calling the function and enter glassdoor website link
u4=url()

enter the Url for web scraping https://www.glassdoor.co.in/index.htm

In [278]:
driver.get(u4)

In [279]:
#importing getpass
from getpass import getpass

In [280]:
#now we need to enter login details 
username=input("Enter your username")  #acceptting email id
Password=getpass("enter the password:") #accepting password

Enter your usernamenavaldangwal092@gmail.com
enter the password:········

In [281]:
driver.find_element_by_xpath("//div[@class='locked-home-sign-in']//a[1]").click()

In [282]:
#finding xpath of usermail by id and then sending username
user=driver.find_element_by_id("userEmail")
user.send_keys(username)

In [283]:
#finding xpath of password by id and then sending password
password=driver.find_element_by_id("userPassword")
password.send_keys(Password)

In [284]:
#fetching xpath of the login button
login=driver.find_element_by_name("submit")

In [285]:
#now submitting the enter details
login.submit()

In [286]:
#while inspecting i analyse that xpath is changing while inspecting so using try and except method
try:
    search_field=driver.find_element_by_id("sc.keyword")
except:
    search_field=driver.find_element_by_xpath("//div[@class='input-wrapper css-q444d9']//input[@placeholder='Job Title, Keywords or Company']")

In [287]:
#enter the job title 
search_field.send_keys("Data Scientist")

In [288]:
#this holds the xpath of the location search bar
location_search=driver.find_element_by_xpath("//div[@class='input-wrapper css-q444d9']//input[@placeholder='Location']")

In [289]:
#entering the location
location_search.send_keys("Noida")

In [290]:
#now submitting the details by using search tab xpath
driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']").submit()

In [311]:
#creating the empty list
c_name=[]
days_posted=[]
ratings=[]

In [312]:
# getting xpath of comapny name and running it to up only 10 paths as we need only only starting 10 jobs
for i in driver.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a/span[1]")[0:10]:
    c_name.append(i.text)

In [313]:
# displaying the result
c_name

['QuantumIT',
 'DcodeAI',
 'Biz2Credit Inc',
 'Emerging India Group',
 'Salasar New Age Technologies',
 'Salasar New Age Technologies',
 'Techlive',
 'Dürr Somac GmbH',
 'Genpact',
 'THSTI']

In [314]:
#getting the xpath of the number of days post was posted before
for i in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")[0:10]:
    days_posted.append(i.text)

In [315]:
#displaying the result
days_posted

['7d', '12d', '30d+', '17d', '30d+', '30d+', '30d+', '30d+', '24h', '13d']

In [316]:
#getting xpath of the ratings of the company
for i in driver.find_elements_by_xpath("//span[@class='compactStars ']")[0:10]:
    ratings.append(i.text)

In [317]:
#result displaying
ratings

['3.3', '3.7', '5', '3.8', '3.9', '4.2', '3.6', '3.9', '3', '4.2']

In [318]:
#creating the dataframe
Gd_jobs=pd.DataFrame({})
Gd_jobs['c_name']=c_name
Gd_jobs['days_posted']=days_posted
Gd_jobs['ratings']=ratings

In [319]:
#final dataframe
Gd_jobs

                         c_name days_posted ratings
0                     QuantumIT          7d     3.3
1                       DcodeAI         12d     3.7
2                Biz2Credit Inc        30d+       5
3          Emerging India Group         17d     3.8
4  Salasar New Age Technologies        30d+     3.9
5  Salasar New Age Technologies        30d+     4.2
6                      Techlive        30d+     3.6
7               Dürr Somac GmbH        30d+     3.9
8                       Genpact         24h       3
9                         THSTI         13d     4.2

##  5-Scrape data from glassdoor  for first 10 companies. Scrape the min salary, max salary, company name, Average salary and number of salary

- link=https://www.glassdoor.co.in/Salaries/index.htm

In [320]:
#calling the function and entering the provided link
u5=url()

enter the Url for web scraping https://www.glassdoor.co.in/Salaries/index.htm

In [323]:
driver.get(u5)

In [324]:
#we will extract search bar of job title and location with help of their respective id
j_search=driver.find_element_by_id("KeywordSearch")
l_search=driver.find_element_by_id("LocationSearch")

In [326]:
j_search.send_keys("Data Scientist")  #Entering the job role

In [327]:
l_search.send_keys("Noida")   #providing the location

In [328]:
driver.find_element_by_id("HeroSearchButton").submit()   # with Search button submitting the entered data

In [344]:
#creating the empty list
company_name=[]
Min_salary=[]
Max_salary=[]
avg_salary=[]
n_salary=[]

In [345]:
#find the xpath for comapny name,min salary,maximum salary,avg salary and number of salaries and running every ones xpath on loop and getting text from it and appending in the list
for i in driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")[0:10]:
    company_name.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")[0:10]:
    Min_salary.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")[0:10]:
    Max_salary.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong[1]")[0:10]:
    avg_salary.append(i.text)
for i in driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")[0:10]:
    n_salary.append(i.text)

In [346]:
#creating empty dataframe and then storing data that is in list in the dataframe
df_Salary=pd.DataFrame({})
df_Salary['company_name']=company_name
df_Salary['Min_salary']=Min_salary
df_Salary['Max_salary']=Max_salary
df_Salary['avg_salary']=avg_salary
df_Salary[' n_salary']= n_salary

In [347]:
#Displays dataframe
df_Salary

,company_name,Min_salary,Max_salary,avg_salary,n_salary
0,Delhivery,₹445K,"₹11,495K","₹ 12,49,514",13 salaries
1,Accenture,₹571K,"₹2,200K","₹ 11,19,272",9 salaries
2,Ericsson-Worldwide,₹420K,"₹1,595K","₹ 7,33,327",9 salaries
3,Tata Consultancy Services,₹360K,"₹1,000K","₹ 5,96,203",8 salaries
4,IBM,₹580K,"₹2,700K","₹ 6,88,601",8 salaries
5,Valiance Solutions,₹496K,"₹1,138K","₹ 7,71,320",8 salaries
6,UnitedHealth Group,₹708K,"₹1,557K","₹ 13,21,601",7 salaries
7,Cognizant Technology Solutions,₹784K,"₹1,250K","₹ 9,96,446",6 salaries
8,Innovaccer,₹614K,"₹1,676K","₹ 9,27,677",6 salaries
9,OYO,₹960K,"₹1,863K","₹ 14,00,000",5 salaries

## 6 Scrape data of first 100 sunglasses listings on flipkart.com, attributes need to scrape are as follows:
1. Brand
2. Product Description
3. Price
4. Discount

- link-https://www.flipkart.com/

In [5]:
#calling the function and the entering the flipkart provide link
u6=url()

enter the Url for web scraping https://www.flipkart.com/

In [6]:
#feeding the link to the driver
driver.get(u6)

In [7]:
#getting the search box path by name 
search=driver.find_element_by_name("q")

In [8]:
#entering the data need to search in this case its is sunglasses 
search.send_keys("Sunglasses")

In [9]:
#submitting the search box
search.submit()

In [10]:
#creating the empty list 
Brand=[]
Description=[]
price=[]
discount=[]

In [13]:
#getting the all tags and appending in the list of the first page
for m in range(0,3):  
    for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
         Brand.append(i.text)
    for j in driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]"):
         Description.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
         price.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]"):
        discount.append(l.text)
    driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[last()]").click()
    time.sleep(20)

In [23]:
#creating empty dataframe and then storing data that is in list in the dataframe
sunglass=pd.DataFrame({})
sunglass[' Brand']= Brand
sunglass[' Description']= Description
sunglass['price']=price
sunglass['discount']=discount

In [44]:
#displaying the result
sunglass

,Brand,Description,price,discount
0,STYLE GURU,UV Protection Aviator Sunglasses (Free Size),₹799,77% off
1,STYLISH GUYS,"UV Protection, Mirrored, Gradient Retro Square...",₹798,77% off
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹199,84% off
3,Riffko,UV Protection Wayfarer Sunglasses (55),₹170,85% off
4,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",₹219,78% off
...,...,...,...,...
95,Fastrack,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹674,25% off
96,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹403,79% off
97,shadz,UV Protection Round Sunglasses (50),₹104,89% off
98,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹674,25% off
99,Specsmakers,Polarized Aviator Sunglasses (58),₹841,57% off

In [25]:
#with the help of slicing just taking starting 100 sunglasses 
sunglass=sunglass[0:100]

In [26]:
#final dataframe
sunglass

,Brand,Description,price,discount
0,STYLE GURU,UV Protection Aviator Sunglasses (Free Size),₹799,77% off
1,STYLISH GUYS,"UV Protection, Mirrored, Gradient Retro Square...",₹798,77% off
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹199,84% off
3,Riffko,UV Protection Wayfarer Sunglasses (55),₹170,85% off
4,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",₹219,78% off
...,...,...,...,...
95,Fastrack,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹674,25% off
96,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹403,79% off
97,shadz,UV Protection Round Sunglasses (50),₹104,89% off
98,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹674,25% off
99,Specsmakers,Polarized Aviator Sunglasses (58),₹841,57% off

## 7.Scrape 100 reviews data from flipkart.com for iphone11 phone

- link= https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [137]:
#entering the link provided 
u7=url()

enter the Url for web scraping https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [138]:
#going to the website by giving link to the driver
driver.get(u7)

In [139]:
#firstly we will click on all reviews then we will scrap data page wise
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()  #This is xpath of all reviews on which we need  to click

In [140]:
page_link=[]

In [141]:
for i in driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a"):
    page_link.append(i.get_attribute('href'))

In [142]:
# creating the empty list
Rating=[]
review_summary=[]
Full_review=[]

In [143]:
#getting the xpath of the ratings,review_summary,Full_review and appending data inside in it to rating list.
for m in page_link[0:10]:
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq'] | //div[@class='_3LWZlK _1rdVr6 _1BLPMq']"):
        Rating.append(i.text)
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review_summary.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(k.text)
    time.sleep(5)

In [144]:
print(len(Rating))
print(len(review_summary))
print(len(Full_review))

100
100
100

In [145]:
#creating empty dataframe and then storing data that is in list in the dataframe
Iphone=pd.DataFrame({})
Iphone[' Rating']=  Rating
Iphone['review_summary']=review_summary
Iphone['Full_review']=Full_review

In [146]:
#final dataframe
Iphone

,Rating,review_summary,Full_review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
96,5,Worth every penny,It’s been almost a month since I have been usi...
97,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
98,4,Nice product,Awesome Phone. Slightly high price but worth. ...
99,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...

## 8 Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
scraping 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount

- link= https://www.flipkart.com/

In [217]:
from selenium.common.exceptions import NoSuchElementException

In [218]:
u8=url()

enter the Url for web scraping https://www.flipkart.com/

In [219]:
driver.get(u8)

In [220]:
#getting the search box path by name 
search=driver.find_element_by_name("q")

In [221]:
#entering the data need to search in this case its is sneakers 
search.send_keys("Sneakers")

In [222]:
#submitting search  
search.submit()

In [223]:
# creating shoe link
shoe_link=[]

In [224]:
#getting the links of the shoes,every page has 40 shoes so running loop for 3 pages as we need data of 100 shoes
for i in range(0,3):
    for i in driver.find_elements_by_xpath("//a[@class='IRpwTa'] | //a[@class='_2WkVRV'] | //a[@class='IRpwTa _2-ICcC']"):
        shoe_link.append(i.get_attribute('href'))
    driver.find_element_by_xpath("//nav[@class='yFHi8N']//a[last()]").click()
    time.sleep(2)

In [225]:
#lenght of shoe link
len(shoe_link)

120

In [226]:
#creating empty list
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [227]:
#now running the link of each shoe and gettong the brand,description,discount and price of the each shoe
for i in shoe_link[0:100]:
    driver.get(i)
    Brand.append(driver.find_element_by_xpath("//h1[@class='yhB1nd']/span[1]").text)
        
    Product_Description.append(driver.find_element_by_xpath("//h1[@class='yhB1nd']/span[2] | //a[@class='IRpwTa _2-ICcC']").text)
        
    Price.append(driver.find_element_by_xpath("//div[@class='_25b18c']/div[1]").text)
        
    try:
        Discount.append(driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span[1]").text)
        
    except NoSuchElementException:
            Discount.append("No discount")
    time.sleep(5)

In [228]:
#checking length of the list
print(len(Brand))
print(len(Product_Description))
print(len(Price))
print(len( Discount))

100
100
100
100

In [229]:
#creating empty dataframe and then storing data that is in list in the dataframe
Sneakers=pd.DataFrame({})
Sneakers['Brand']= Brand
Sneakers['Product_Description']=Product_Description
Sneakers['Price']=Price
Sneakers['Discount']=Discount

In [230]:
# final dataframe
Sneakers

,Brand,Product_Description,Price,Discount
0,Stinson,"Sneakers For Men (Black, Yellow, Blue)",₹499,66% off
1,Clymb,Sneakers For Men (Black),₹299,70% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,75% off
3,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men...,₹378,62% off
...,...,...,...,...
95,Adiso,Casual shoes Sneakers For Men (White),₹399,60% off
96,Clymb,Sneakers For Men (Black),₹299,70% off
97,Essence,Sneakers For Men (Blue),₹424,57% off
98,Chevit,172 Smart Mehndi Lace-Ups Casuals for Men Snea...,₹224,55% off
99,WROGN,Sneakers For Men (Black),"₹1,034",55% off

## 9. scrape First 100 shoes data we get in the link- https://www.myntra.com/shoes. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

- link=https://www.myntra.com/shoes

In [231]:
#calling function
u9=url()

enter the Url for web scraping https://www.myntra.com/shoes

In [232]:
driver.get(u9)

In [233]:
#now clicking on the filter having price range Rs 5839 to Rs 11559
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()

In [234]:
#now clicking on the filter having price range Rs 5839 to Rs 11559
driver.find_element_by_xpath("//li[@class='colour-listItem']/label[1]").click()

In [236]:
# creating shoe link
shoes_link=[]

In [237]:
#now every page has 50 shoes so will we run the loop for only 2 pages and get the link of every shoe
for i in range(0,2):
    for j in driver.find_elements_by_xpath("//li[@class='product-base']//a[1]"):
        shoes_link.append(j.get_attribute('href'))
    driver.find_element_by_xpath("//li[@class='pagination-next']//a[1]").click()
    time.sleep(2)

In [238]:
#total links 
len(shoes_link)

100

In [239]:
#now creating empty list for the details we need from the data
Brand=[]
Shoe_description=[]
Price=[]

In [240]:
#now running the link of each shoe and gettong the brand,description and price of the each shoe
for i in shoes_link:
    driver.get(i)
    Brand.append(driver.find_element_by_xpath("//div[@class='pdp-price-info']/h1[1]").text)
        
    Shoe_description.append(driver.find_element_by_xpath("//div[@class='pdp-price-info']/h1[2]").text)
    
    Price.append(driver.find_element_by_xpath("//span[@class='pdp-price']/strong[1]").text)

In [241]:
#checking th lenght of the list 
print(len(Brand))
print(len(Shoe_description))
print(len(Price))

100
100
100

In [243]:
#now creating the dataframe
myntra_shoes=pd.DataFrame({})
myntra_shoes['Brand']=Brand
myntra_shoes['Shoe_description']=Shoe_description
myntra_shoes['Price']=Price

In [244]:
#output of the dataframe
myntra_shoes

           Brand                                   Shoe_description      Price
0           Nike              Men Black ZOOM WINFLO 7 Running Shoes   Rs. 5999
1           Nike           Men Black & Yellow JOYRIDE Running Shoes  Rs. 11199
2   Kenneth Cole                                 Men Black Sneakers   Rs. 7413
3           Nike                   Men Black CHALLENGER OG Sneakers   Rs. 6099
4           Nike  Women Black & White AIR MAX VG-R Colourblocked...   Rs. 6599
..           ...                                                ...        ...
95          Nike              Women Black FREE RN 5.0 Running Shoes   Rs. 6399
96      Skechers              Men Black Go Run Ride 7 Running Shoes   Rs. 6499
97     Cole Haan           Women Black Solid Leather Open Toe Flats   Rs. 6499
98          Geox                    Men Black Leather Driving Shoes   Rs. 9999
99  UNDER ARMOUR  Women Black Woven Design Bluetooth HOVR Sonic ...  Rs. 10999

[100 rows x 3 columns]

## 10.Scraping laptops with filter “Intel Core i7” and “Intel Core i9” from link-https://www.amazon.in/. After setting the filters scrape first 10 laptops data. We have to scrape 3 attributes for each laptop:
### 1. title
### 2. Ratings
### 3. Price

- link=https://www.amazon.in/

In [176]:
#calling the function and entering the link provided
u10=url()

enter the Url for web scraping https://www.amazon.in/

In [177]:
driver.get(u10)

In [178]:
#getting the search option tag
search=driver.find_element_by_id("twotabsearchtextbox")

In [179]:
#entering the laptops as the search option
search.send_keys("laptops")

In [180]:
#submitting the search
search.submit()

In [181]:
#importing exceptions 
from selenium.common.exceptions import NoSuchElementException

In [182]:
#now on core type filter option clicking on intel i7
driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a").click()

In [183]:
#now after clicking on intel i7 click on intel i9
driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a").click()

In [184]:
#creating the empty list for links of the laptops we get after selecting filters
laptops_link=[]

In [185]:
#getting tags and appending links of the latops
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    laptops_link.append(i.get_attribute('href'))

In [209]:
#creating the empty for laptops details
Laptop_Name=[]
Laptop_rating=[]
Laptop_price=[]

In [210]:
#Now running the loops of the link upto 10 only as we nee donly first 10 laptops data
for i in laptops_link[0:10]:
    driver.get(i)
    Laptop_Name.append(driver.find_element_by_xpath("//span[@class='a-size-large product-title-word-break']").text)
    try:
        Laptop_price.append(driver.find_element_by_xpath("//td[@class='a-span12']/span[1]").text)
    except NoSuchElementException:
        Laptop_price.append("No price available")
    try:
        Laptop_rating.append(driver.find_element_by_xpath("//span[@id='acrPopover']").get_attribute('title'))
    except NoSuchElementException:
        Laptop_rating.append("No rating available")
    time.sleep(3)

In [212]:
#laptops name
Laptop_Name

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 15.6" FHD Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 10 Home/Nvidia RTX 2070 Super Max-Q/ Black/2.1Kg), 10SFS-488IN',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/8GB/1TB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/16GB/500 GB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/8GB(Up to 16)/500 GB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/8GB(Up to 16)/1 TB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/16GB/1 TB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 '(Renewed) ASUS ROG Strix G G531GT-AL018T 15.6" FHD 120Hz Gaming Laptop GTX 1650 4GB Graphics (Core™ i7-9750H 9th Gen/16GB RAM/512GB NVMe SSD/Windows 10/2.40 Kg), Black',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'Acer Nitro 5 Intel Core i7 10750H 15.6" FHD IPS 144Hz Display Thin and Light Gaming Laptop (8GB Ram/1TB HDD + 256 GB SSD/Windows 10 Home /GTX 1650Ti Graphics/Obisidian Black/2.3 kgs),AN515-55']

In [213]:
#laptop price
Laptop_price

['₹ 51,999.00',
 '₹ 2,59,998.00',
 '₹ 45,000.00',
 '₹ 54,399.00',
 '₹ 52,699.00',
 '₹ 53,599.00',
 '₹ 55,299.00',
 '₹ 69,990.00',
 '₹ 57,999.00',
 '₹ 78,990.00']

In [214]:
#laptop rating
Laptop_rating

['4.2 out of 5 stars',
 '3.1 out of 5 stars',
 'No rating available',
 'No rating available',
 'No rating available',
 'No rating available',
 'No rating available',
 'No rating available',
 '4.2 out of 5 stars',
 '4.0 out of 5 stars']

In [215]:
#checking the length of the list
print(len(Laptop_Name))
print(len(Laptop_price))
print(len(Laptop_rating))

10
10
10

In [216]:
#creating the dataframe
Laptop=pd.DataFrame({})
Laptop['Laptop_Name']=Laptop_Name
Laptop['Laptop_rating']=Laptop_rating
Laptop['Laptop_price']=Laptop_price

In [217]:
# Output of dataframe 
Laptop

,Laptop_Name,Laptop_rating,Laptop_price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.2 out of 5 stars,"₹ 51,999.00"
1,"MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 1...",3.1 out of 5 stars,"₹ 2,59,998.00"
2,(Renewed) Dell Latitude E6420 14 Inch Laptop (...,No rating available,"₹ 45,000.00"
3,(Renewed) Dell Latitude E7470 14-inch Laptop (...,No rating available,"₹ 54,399.00"
4,(Renewed) Dell Latitude E7470 14-inch Laptop (...,No rating available,"₹ 52,699.00"
5,(Renewed) Dell Latitude E7470 14-inch Laptop (...,No rating available,"₹ 53,599.00"
6,(Renewed) Dell Latitude E7470 14-inch Laptop (...,No rating available,"₹ 55,299.00"
7,"(Renewed) ASUS ROG Strix G G531GT-AL018T 15.6""...",No rating available,"₹ 69,990.00"
8,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5 stars,"₹ 57,999.00"
9,"Acer Nitro 5 Intel Core i7 10750H 15.6"" FHD IP...",4.0 out of 5 stars,"₹ 78,990.00"