# Assignment 1

In [1]:
#importing the libraries like seleniumand Beautifulsoup
from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#creating the function for beautifulsoup
def url_link():
    url=input("enter the Url for web scraping ")
    page=requests.get(url)
    page.content
    soup=BeautifulSoup(page.content,'html.parser')
    soup
    return soup

In [3]:
#creating the function for selenium
def url():
    url=input("enter the Url for web scraping ")
    return url

In [4]:
driver=webdriver.Chrome(r"C:\Users\8.1\chromedriver")

## 1.  python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [171]:
# link of the site- https://en.wikipedia.org/wiki/Main_Page

In [6]:
#calling the beautifulsoup function 
x1=url_link()

enter the Url for web scraping https://en.wikipedia.org/wiki/Main_Page

In [7]:
# getting all the header tags
titles = x1.find_all(['h1', 'h2','h3'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 id="p-variants-label">
<span>Variants</span>
</h3>

<h3 id="p-views-label">
<span>Views</span>
</h3>

<h3 id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 id="p-tb-label">
<span>Tools</span>
</h3>

<h3 id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 id="p-lang-label">
<span>Languages</span>
</h3>

## 2. Python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [8]:
#link--- https://www.imdb.com/chart/top/?ref_=nv_mv_250

In [9]:
#function calling of selenium
u=url()

enter the Url for web scraping https://www.imdb.com/chart/top/?ref_=nv_mv_250

In [10]:
driver.get(u)

In [11]:
#creating the empty list
NAME=[]
IMBD_rating=[]
Year_of_release=[]

In [12]:
#finding the all name tags
name=driver.find_elements_by_xpath("//td[@class='titleColumn']/a[1]")

In [13]:
# using loop getting the name from the tags
for n in name[0:100]:
    na=n.text
    NAME.append(na)

In [14]:
#output of the names
NAME

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Good, the Bad and the Ugly',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Fight Club',
 'Forrest Gump',
 'Inception',
 'The Lord of the Rings: The Two Towers',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Matrix',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 'Seven Samurai',
 'Se7en',
 'Life Is Beautiful',
 'City of God',
 'The Silence of the Lambs',
 "It's a Wonderful Life",
 'Star Wars: Episode IV - A New Hope',
 'Saving Private Ryan',
 'Spirited Away',
 'The Green Mile',
 'Interstellar',
 'Parasite',
 'Léon: The Professional',
 'The Usual Suspects',
 'Hara-Kiri',
 'The Lion King',
 'The Pianist',
 'Back to the Future',
 'Terminator 2: Judgment Day',
 'American History X',
 'Modern Times',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'The Intouchables',
 'Whiplash',
 'Grave of the Fireflies',
 'The Prestige',
 'Once Upon a Time in the West',
 'Casablanca',
 'Cinema Paradiso',
 'Rear Window',
 'Alien',
 'Hamilton',
 'Apocalypse Now',
 'Memento',
 'The Great Dictator',
 'Indiana Jones and the Raiders of the Lost Ark',
 'Django Unchained',
 'The Lives of Others',
 'Joker',
 'Paths of Glory',
 'WALL·E',
 'The Shining',
 'Avengers: Infinity War',
 'Sunset Blvd.',
 'Witness for the Prosecution',
 'Oldboy',
 'Princess Mononoke',
 'Spider-Man: Into the Spider-Verse',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Aliens',
 'Your Name.',
 'Coco',
 'Avengers: Endgame',
 'American Beauty',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Toy Story',
 'Capernaum',
 'High and Low',
 'Amadeus',
 'Inglourious Basterds',
 'Star Wars: Episode VI - Return of the Jedi',
 'Good Will Hunting',
 'Taare Zameen Par',
 'Reservoir Dogs',
 '2001: A Space Odyssey',
 'Requiem for a Dream',
 'Vertigo',
 'M',
 'The Hunt',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Dangal',
 'Full Metal Jacket',
 'Bicycle Thieves',
 "Singin' in the Rain"]

In [15]:
#finding rating elements from the tags
r=driver.find_elements_by_xpath("//td[@class='ratingColumn imdbRating']")

In [16]:
# using loop getting the text of ratings from elements
for rating in r[0:100]:
    ra=rating.text
    IMBD_rating.append(ra)

In [17]:
#displaying the ratings
IMBD_rating

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2']

In [18]:
#finding the elements of the year of release
year=driver.find_elements_by_xpath("//span[@class='secondaryInfo']")

In [19]:
#loop to find the text in the tag
for y in year[0:100]:
    Year=y.text
    Year_of_release.append(Year)

In [20]:
# checking the length of all list 
print(len(NAME))
print(len(IMBD_rating))
print(len(Year_of_release))

100
100
100

In [21]:
# making the dataframe
import pandas as pd
top_movies=pd.DataFrame({})
top_movies['NAME']=NAME
top_movies['IMBD_rating']=IMBD_rating
top_movies['Year_of_release']=Year_of_release

In [22]:
top_movies

                        NAME IMBD_rating Year_of_release
0   The Shawshank Redemption         9.2          (1994)
1              The Godfather         9.1          (1972)
2     The Godfather: Part II         9.0          (1974)
3            The Dark Knight         9.0          (2008)
4               12 Angry Men         8.9          (1957)
..                       ...         ...             ...
95              Citizen Kane         8.3          (1941)
96                    Dangal         8.3          (2016)
97         Full Metal Jacket         8.2          (1987)
98           Bicycle Thieves         8.2          (1948)
99       Singin' in the Rain         8.2          (1952)

[100 rows x 3 columns]

In [23]:
#saving the data into csv file
top_movies.to_csv("top_movies.csv",index=False)

## 3 . Python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [24]:
#link--- https://www.imdb.com/india/top-rated-indian-movies/

In [25]:
#calling fuction and then enter the url
u=url()

enter the Url for web scraping https://www.imdb.com/india/top-rated-indian-movies/

In [26]:
driver.get(u)

In [27]:
# creating the empty list
Name=[]
IMBD_Rating=[]
Year_of_Release=[]

In [28]:
#getting the elements of title tag
title=driver.find_elements_by_xpath("//td[@class='titleColumn']/a[1]")

In [29]:
#for loop to get text from title tag
for i in title[0:100]:
    t=i.text
    Name.append(t)

In [30]:
#getting the elements of rating tag
r=driver.find_elements_by_xpath("//td[@class='ratingColumn imdbRating']")

In [31]:
#for loop to get text from rating tag
for i in r[0:100]:
    rating=i.text
    IMBD_Rating.append(rating)

In [32]:
#elements to find year
y=driver.find_elements_by_xpath("//span[@class='secondaryInfo']")

In [33]:
# to get text data from year tag
for i in y[0:100]:
    year=i.text
    Year_of_Release.append(year)

In [34]:
#creating empty dataframe and then storing the all data in list into the dataframe 
import pandas as pd
indian_top_movies=pd.DataFrame({})
indian_top_movies['Name']=Name
indian_top_movies['IMBD_Rating']=IMBD_Rating
indian_top_movies['Year_of_Release']=Year_of_Release

In [35]:
#output of dataframe
indian_top_movies

               Name IMBD_Rating Year_of_Release
0   Pather Panchali         8.5          (1955)
1       Hanky Panky         8.5          (1979)
2        Raatchasan         8.5          (2018)
3           Nayakan         8.5          (1987)
4        Anbe Sivam         8.5          (2003)
..              ...         ...             ...
95       Bommarillu         8.0          (2006)
96          Maqbool         8.0          (2003)
97            Lucia         8.0          (2013)
98           Bombay         8.0          (1995)
99           Omkara         8.0          (2006)

[100 rows x 3 columns]

In [36]:
#saving the file into csv format
indian_top_movies.to_csv("indian_top100_movies.csv",index=False)

## 4. Python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [37]:
# link- https://bookpage.com/reviews

In [38]:
#calling the beautifulsoup function
x4=url_link()

enter the Url for web scraping https://bookpage.com/reviews

In [39]:
#creating the empty list
Author_name=[]
book_name=[]
genre=[]
review=[]

In [40]:
# getting the header tags of books title
book=x4.find_all('h4',class_="italic")
book

[<h4 class="italic">
 <a href="/reviews/25810-victoria-gosling-before-ruins-fiction">Before the Ruins</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25785-julie-carrick-dalton-waiting-night-song-fiction">Waiting for the Night Song</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25784-jamie-harrison-center-everything-fiction">The Center of Everything</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25789-fiona-king-foster-captive-fiction">The Captive</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25798-stephanie-thornton-plymale-american-daughter-biography-memoir"> <span style="font-style:normal;">★ </span>American Daughter</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25795-carl-l-hart-drug-use-grown-ups-nonfiction"> <span style="font-style:normal;">★ </span>Drug Use for Grown-Ups</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25779-daniel-loedel-hades-argentina-fiction">Hades, Argentina</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25822-anna-north-outlawed-fiction">Outlawed</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25848-leuyen-pham-outside-inside-childrens">Outside, Inside</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25786-ashley-audrain-push-fiction">The Push</a>
 </h4>]

In [41]:
# now getting the text data from the tags
for i in book:
       book_name.append(i.get_text().replace("\n",""))

In [42]:
# displaying books
book_name

['Before the Ruins',
 'Waiting for the Night Song',
 'The Center of Everything',
 'The Captive',
 ' ★ American Daughter',
 ' ★ Drug Use for Grown-Ups',
 'Hades, Argentina',
 'Outlawed',
 'Outside, Inside',
 'The Push']

In [43]:
#getting tags of the author name 
author=x4.find_all('p',class_='sans bold')
author

[<p class="sans bold">
 Victoria Gosling
 </p>,
 <p class="sans bold">
 Julie Carrick Dalton
 </p>,
 <p class="sans bold">
 Jamie Harrison
 </p>,
 <p class="sans bold">
 Fiona King Foster
 </p>,
 <p class="sans bold">
 Stephanie Thornton Plymale
 </p>,
 <p class="sans bold">
 Carl L. Hart
 </p>,
 <p class="sans bold">
 Daniel Loedel
 </p>,
 <p class="sans bold">
 Anna North
 </p>,
 <p class="sans bold">
 LeUyen Pham
 </p>,
 <p class="sans bold">
 Ashley Audrain
 </p>]

In [44]:
#from author tags getting text data
for i in author:
    Author_name.append(i.get_text().replace("\n",""))

In [45]:
#finding tags for genre
Genre=x4.find_all('p',class_='genre-links hidden-phone')
Genre

[<p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=coming_of_age">Coming of Age</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=popular_fiction">Popular Fiction</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=literary_fiction">Literary Fiction</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=dystopian_fiction">Dystopian Fiction</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=biography_memoir">Biography &amp; Memoir</a>
  /
 <a href="/search?book_genre=memoir">Memoir</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=social_science">Social Science</a>
  /
 <a href="/search?book_genre=law">Law</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=literary_fiction">Literary Fiction</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=dystopian_fiction">Dystopian Fiction</a>
  /
 <a href="/search?book_genre=western">Western</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=children_s">Children's</a>
  /
 <a href="/search?book_genre=children_s_picture_book">Children's Picture Book</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=family_drama">Family Drama</a>
 </p>]

In [46]:
#getting text data using loop
for i in Genre:
    genre.append(i.get_text().replace("\n",""))

In [47]:
#getng the tags of the reviews
rev=x4.find_all('p',class_='excerpt')
rev

[<p class="excerpt">
 An abandoned English manor house sets the stage for a cracking mystery involving a missing friend, a long-lost diamond necklace and the secrets that tie the two together across decades.
 </p>,
 <p class="excerpt">
 <p>The past has a way of catching up to us, often when we least expect it. In <strong>Waiting for the Night Song</strong>, the idyllic childhood summer of two girls implodes after a shocking event.</p>
 </p>,
 <p class="excerpt">
 <p>A character in Jamie Harrison’s latest literary crime novel observes, “Everyone [has] a core of hell and doubt and sorrow.” But the story’s star, Polly, discovers a brighter perspective.</p>
 </p>,
 <p class="excerpt">
 <p>One must wonder while reading Fiona King Foster’s first novel, who is truly the captive? Is it fugitive Stephen Cawley, who spends the majority of the novel bound with rope and twist-ties, or is it protagonist Brooke Holland, who seems trapped by her past misdeeds? There is no easy answer,...</p>
 </p>,
 <p class="excerpt">
 <p>But for anyone looking for a moving tale of finding a way to give the love we don’t receive, <strong>American Daughter </strong>will resonate.</p>
 </p>,
 <p class="excerpt">
 <p>In <strong>Drug Use for Grown-Ups: Chasing Liberty in the Land of Fear</strong>, Dr. Carl L. Hart makes a thoughtful and persuasive (if controversial) case that everything we’ve been taught about drug use is wrong and that it’s high time we legalize all drugs and consider a more humane way forward.</p>
 </p>,
 <p class="excerpt">
 As Tomás reenters the world of Argentina’s dirty war, time blurs, and the surreal blends with reality. As he relives trauma and torture, readers experience it with him, seeing a slice of history that is rarely talked about and feeling immersed in the ways that love, guilt and regret drive so many...
 </p>,
 <p class="excerpt">
 <p>This ain’t no Louis L’Amour tale of the Wild West. <strong>Outlawed</strong>, the third novel by Anna North, is a gender-bending, genre-hopping yarn that’s part frontier novel, part <em>Handmaid’s Tale </em>and all ripsnorting fun.</p>
 </p>,
 <p class="excerpt">
 <p>LeUyen Pham’s <strong>Outside, Inside </strong>addresses the subject of the COVID-19 pandemic for young readers with sensitivity and compassion.</p>
 </p>,
 <p class="excerpt">
 <p>It’s easy to think of intimate, single-POV novels as somewhat simple narrative exercises, but Ashley Audrain’s gripping debut is proof that this is an illusion. In the hands of the right storyteller, even the most compact novels can be works of great complexity.</p>
 </p>]

In [48]:
#using loop finding text data
for i in rev:
    review.append(i.get_text().replace("\n",""))

In [49]:
review

['An abandoned English manor house sets the stage for a cracking mystery involving a missing friend, a long-lost diamond necklace and the secrets that tie the two together across decades.',
 'The past has a way of catching up to us, often when we least expect it. In Waiting for the Night Song, the idyllic childhood summer of two girls implodes after a shocking event.',
 'A character in Jamie Harrison’s latest literary crime novel observes, “Everyone [has] a core of hell and doubt and sorrow.” But the story’s star, Polly, discovers a brighter perspective.',
 'One must wonder while reading Fiona King Foster’s first novel, who is truly the captive? Is it fugitive Stephen Cawley, who spends the majority of the novel bound with rope and twist-ties, or is it protagonist Brooke Holland, who seems trapped by her past misdeeds? There is no easy answer,...',
 'But for anyone looking for a moving tale of finding a way to give the love we don’t receive, American Daughter will resonate.',
 'In Drug Use for Grown-Ups: Chasing Liberty in the Land of Fear, Dr. Carl L. Hart makes a thoughtful and persuasive (if controversial) case that everything we’ve been taught about drug use is wrong and that it’s high time we legalize all drugs and consider a more humane way forward.',
 'As Tomás reenters the world of Argentina’s dirty war, time blurs, and the surreal blends with reality. As he relives trauma and torture, readers experience it with him, seeing a slice of history that is rarely talked about and feeling immersed in the ways that love, guilt and regret drive so many...',
 'This ain’t no Louis L’Amour tale of the Wild West. Outlawed, the third novel by Anna North, is a gender-bending, genre-hopping yarn that’s part frontier novel, part Handmaid’s Tale and all ripsnorting fun.',
 'LeUyen Pham’s Outside, Inside addresses the subject of the COVID-19 pandemic for young readers with sensitivity and compassion.',
 'It’s easy to think of intimate, single-POV novels as somewhat simple narrative exercises, but Ashley Audrain’s gripping debut is proof that this is an illusion. In the hands of the right storyteller, even the most compact novels can be works of great complexity.']

In [50]:
#checking the length of the list
print(len(Author_name))
print(len(book_name))
print(len(genre))
print(len(review))

10
10
10
10

In [51]:
#creating empty dataframe and storing the data in list into dataframe 
import pandas as pd
Books=pd.DataFrame({})
Books['Author_name']=Author_name
Books['book_name']=book_name
Books['genre']=genre
Books['review']=review

In [52]:
#silicing to get deatils of 5 books only 
Book=Books[0:5]

In [53]:
Book

,Author_name,book_name,genre,review
0,Victoria Gosling,Before the Ruins,Fiction / Coming of Age,An abandoned English manor house sets the stag...
1,Julie Carrick Dalton,Waiting for the Night Song,Fiction / Popular Fiction,"The past has a way of catching up to us, often..."
2,Jamie Harrison,The Center of Everything,Fiction / Literary Fiction,A character in Jamie Harrison’s latest literar...
3,Fiona King Foster,The Captive,Fiction / Dystopian Fiction,One must wonder while reading Fiona King Foste...
4,Stephanie Thornton Plymale,★ American Daughter,Nonfiction / Biography & Memoir / Memoir,But for anyone looking for a moving tale of fi...

# 5. Python program to scrap cricket rankings from ‘www.icc-cricket.com’. 
__i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.__

In [54]:
#link -- https://www.icc-cricket.com/rankings/mens/team-rankings/odi

In [55]:
#calling the function and then enter the link 
x5=url()

enter the Url for web scraping https://www.icc-cricket.com/rankings/mens/team-rankings/odi

In [56]:
driver.get(x5)

In [57]:
#creating the empty list
Team=[]
Matches=[]
Points=[]
Rating=[]

In [58]:
#getting team name elements
team=driver.find_elements_by_xpath("//span[@class='u-hide-phablet']")

In [59]:
#using loop getting the text data from elements
for i in team[0:10]:
    t=i.text
    Team.append(t)

In [60]:
Team

['England',
 'India',
 'New Zealand',
 'Australia',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [61]:
# finding element for matches of top team
matches=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--matches']")
matches

In [62]:
# getting matches text of the top team
for i in matches:
    ma=i.text
    Matches.append(ma)

In [63]:
# findings elements for the points using its path  
points=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--points']")

In [64]:
# getting points text of the top team
for i in points:
    p=i.text
    Points.append(p)

In [65]:
# finding element for matches of the rest of the team
match=driver.find_elements_by_xpath("//tr[@class='table-body']/td[3]")
match

[<selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="c591d5ea-e82f-4462-b2c5-0dade41fe360")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="6372681f-d6f4-4dcb-9705-f5dbbfcca13d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="4c964ab1-479a-466f-ae9f-fa9385558e75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="4b11ff3f-eb2b-48c1-8075-ce08bdee3ecd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="2655587e-c47a-433f-8e42-c4a80f3ccbef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="6f21d6a7-73d2-4352-804a-e4c1887acdea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="9a577a72-eb6d-4f02-a385-c3e4cccf6ce0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="4fae1317-d1e3-4fa3-a8da-01953efae32c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="76e2b02c-7735-4877-b1d3-80e659a4511e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="d240e128-daeb-43d2-be26-4d6dd40774c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="cb118469-f227-4e2d-9abe-f16be4fb2991")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="7fca2eb1-3c64-4622-b5c2-cb56b1a43ef8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="34486ef0-e349-489d-aba3-74ee3f0ad8fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="ac84d07b-9c09-42b5-9f96-d463bd0345b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="323636e5-f0e6-4301-b7b2-ea78285828c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="046007db-9a58-40e1-aae5-08df9810d830")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="002f3abe-a7ed-43d0-a0de-260d2e38540f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="5cae9dff-2195-4fa6-ab2f-a62a12906aa5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d8cfbe3c0304b29140a903efcab87f4a", element="3d6c9481-a331-4067-9fab-c6eee2c792e9")>]

In [66]:
# getting matches text of the rest of the teams
m=[]
for i in match[0:9]:
    mt=i.text
    m.append(mt)

In [67]:
# findings elements for the points using its path  for the rest of the teams
point=driver.find_elements_by_xpath("//tr[@class='table-body']/td[4]")

In [68]:
# getting points text for the rest of the teams
p=[]
for i in point[0:9]:
    pt=i.text
    p.append(pt)

In [69]:
#now combining the matches and points of top and rest of the team to make one list
Matches.extend(m)
Points.extend(p)

In [70]:
#finding the rating of the top team
rate=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--rating u-text-right']")

In [71]:
#getting the text data for rating 
for i in rate:
    r=i.text
    Rating.append(r)

In [72]:
#finding the rating for tghe rest of the team
rate1=driver.find_elements_by_xpath("//td[@class='table-body__cell u-text-right rating']")

In [73]:
#creating empty list of rating and appending data on it 
rating=[]
for i in rate1[0:9]:
    rating1=i.text
    rating.append(rating1)

In [74]:
#combining both the rating of top team and rest of the teams
Rating.extend(rating)

In [75]:
#checking the lenghts of the list
print(len(Matches))
print(len(Points))
print(len(Rating))

10
10
10

In [76]:
#creating th empty dataframe and then inserting all the data in the list
import pandas as pd
Ranking=pd.DataFrame({})
Ranking['Team']=Team
Ranking['Matches']=Matches
Ranking['Points']=Points
Ranking['Rating']=Rating

In [77]:
#displaying top 10 tcricket teams in ODI 
Ranking

           Team Matches Points Rating
0       England      44  5,405    123
1         India      52  6,102    117
2   New Zealand      32  3,716    116
3     Australia      39  4,344    111
4  South Africa      31  3,345    108
5      Pakistan      35  3,490    100
6    Bangladesh      34  2,989     88
7     Sri Lanka      39  3,297     85
8   West Indies      43  3,285     76
9   Afghanistan      28  1,549     55

__ii) Top 10 ODI Batsmen in men along with the records of their team and rating.__

In [78]:
#link- https://www.icc-cricket.com/rankings/mens/player-rankings/odi

In [79]:
# calling the function of beautifulsoup
x5_2=url_link()

enter the Url for web scraping https://www.icc-cricket.com/rankings/mens/player-rankings/odi

In [80]:
#creating empty list
Player_Name=[]
Nationality=[]
Rating=[]

In [81]:
#getting top player name
name=x5_2.find('div',class_='rankings-block__banner--name')
Player_Name.append(name.get_text().replace("\n",""))

In [82]:
#nation of the top player
nation=x5_2.find('div',class_='rankings-block__banner--nationality')
Nationality.append(nation.get_text().replace("\n",""))

In [83]:
#rating of the top player
rating=x5_2.find('div',class_='rankings-block__banner--rating')
Rating.append(rating.get_text().replace("\n",""))

- since tags were different for player number 1 and other player so we are extracting them differently

In [84]:
#creating empty list for storing other players info
NAME=[]
Nation=[]
R=[]

In [85]:
#finding all tags of player name
na=x5_2.find_all('td',class_="table-body__cell name")

In [86]:
# getting the text data from the player name tag
for i in na[0:9]:
    NAME.append(i.get_text().replace("\n",""))

In [87]:
NAME

['Rohit Sharma',
 'Babar Azam',
 'Ross Taylor',
 'Aaron Finch',
 'Francois du Plessis',
 'David Warner',
 'Kane Williamson',
 'Quinton de Kock',
 'Jonny Bairstow']

In [88]:
#finding all tags with players of their country 
cntry=x5_2.find_all('span',class_="table-body__logo-text")

In [89]:
#getting text data using loop 
for i in cntry[0:9]:
    Nation.append(i.get_text().replace("\n",""))

In [90]:
Nation

['IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG']

In [91]:
#finding element tags of rating 
rte=x5_2.find_all('td',class_="table-body__cell u-text-right rating")

In [92]:
# using loop finding text from that tag
for i in rte[0:9]:
    R.append(i.get_text().replace("\n",""))

In [93]:
#now extending both the list to make one list
Nationality.extend(Nation)
Player_Name.extend(NAME)
Rating.extend(R)

In [94]:
print(Player_Name)
print(Nationality)
print(Rating)

['Virat Kohli', 'Rohit Sharma', 'Babar Azam', 'Ross Taylor', 'Aaron Finch', 'Francois du Plessis', 'David Warner', 'Kane Williamson', 'Quinton de Kock', 'Jonny Bairstow']
['IND', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG']
['870', '842', '837', '818', '791', '790', '773', '765', '755', '754']

In [95]:
#making dataframe and storing data in the dataframe
import pandas as pd
Men_rank=pd.DataFrame({})
Men_rank['Player_Name']=Player_Name
Men_rank['Nationality']=Nationality
Men_rank['Rating']=Rating

In [96]:
# output of the dataframe
Men_rank

           Player_Name Nationality Rating
0          Virat Kohli         IND    870
1         Rohit Sharma         IND    842
2           Babar Azam         PAK    837
3          Ross Taylor          NZ    818
4          Aaron Finch         AUS    791
5  Francois du Plessis          SA    790
6         David Warner         AUS    773
7      Kane Williamson          NZ    765
8      Quinton de Kock          SA    755
9       Jonny Bairstow         ENG    754

__iii) Top 10 ODI bowlers along with the records of their team and rating__

In [97]:
#link-https://www.icc-cricket.com/rankings/mens/player-rankings/odi

In [98]:
#calling the function
x5_3=url()

enter the Url for web scraping https://www.icc-cricket.com/rankings/mens/player-rankings/odi

In [99]:
driver.get(x5_3)

In [100]:
#creating the empty list
Bowler_Name=[]
nationality=[]
Ratings=[]

##### now since the tag are differents for the player number 1 and other player so we will extract them differently the extend there list to get one list

In [101]:
#elements for player name using its xpath
names=driver.find_elements_by_xpath("//div[@data-title='ODI Bowling Rankings']//div[@class='rankings-block__banner--name']")

In [102]:
# getting name using loop and appending in the list
for i in names:
    n=i.text
    Bowler_Name.append(n)

In [103]:
#elements for player nation using its xpath
nation=driver.find_elements_by_xpath("//div[@data-title='ODI Bowling Rankings']//div[@class='rankings-block__banner--nationality']")

In [104]:
# getting nation using loop and appending in the list
for i in nation:
    nt=i.text
    nationality.append(nt)

In [105]:
#since nation string have othe data so splitting the substring 
nationality=nationality[0].rsplit("\n")
nationality=nationality[0].rsplit("\n")
nationality

['NZ']

In [106]:
#elements for player rating using its xpath
rating=driver.find_elements_by_xpath("//div[@data-title='ODI Bowling Rankings']//div[@class='rankings-block__banner--rating']")

In [107]:
# getting rating using loop and appending in the list
for i in rating:
    rt=i.text
    Ratings.append(rt)

In [108]:
# now creating other empty list for the rest of the players
BN=[]
NT=[]
RT=[]

In [109]:
#elements for rest of the player name using its xpath
NaMe=driver.find_elements_by_xpath("//div[@data-title='ODI Bowling Rankings']//td[@class='table-body__cell name']")

In [110]:
# getting player name using loop and appending in the list
for i in NaMe:
    nm=i.text
    BN.append(nm)

In [111]:
#elements for rest of the players country using its xpath
cntry=driver.find_elements_by_xpath("//div[@data-title='ODI Bowling Rankings']//td[@class='table-body__cell nationality-logo']")

In [112]:
# getting players country using loop and appending in the list
for i in cntry:
    cn=i.text
    NT.append(cn)

In [113]:
#elements for rest of the players rating using its xpath
ra_tings=driver.find_elements_by_xpath("//div[@data-title='ODI Bowling Rankings']//td[@class='table-body__cell u-text-right rating']")

In [114]:
# getting players rating using loop and appending in the list
for i in ra_tings:
    r_t=i.text
    RT.append(r_t)

In [115]:
# now extending main list so that info remains in order
Bowler_Name.extend(BN)
nationality.extend(NT)
Ratings.extend(RT)

In [116]:
#checking the length of the list
print(len(Bowler_Name))
print(len(nationality))
print(len(Ratings))

10
10
10

In [117]:
#creating dataframe and then string info in it
import pandas as pd
bowlers_rank=pd.DataFrame({})
bowlers_rank['Bowler_Name']=Bowler_Name
bowlers_rank['nationality']=nationality
bowlers_rank['Ratings']=Ratings

In [118]:
#displaying dataframe having top 10 bowlers
bowlers_rank

        Bowler_Name nationality Ratings
0       Trent Boult          NZ     722
1  Mujeeb Ur Rahman         AFG     701
2    Jasprit Bumrah         IND     700
3      Chris Woakes         ENG     675
4     Kagiso Rabada          SA     665
5    Josh Hazlewood         AUS     660
6     Mohammad Amir         PAK     647
7       Pat Cummins         AUS     646
8        Matt Henry          NZ     641
9      Jofra Archer         ENG     637

# 6. Python program to scrap cricket rankings from ‘www.icc-cricket.com’. 
###  __i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.__

In [119]:
#link- https://www.icc-cricket.com/rankings/womens/team-rankings/odi

In [120]:
#calling the function and then entering the link
x6=url()

enter the Url for web scraping https://www.icc-cricket.com/rankings/womens/team-rankings/odi

In [121]:
driver.get(x6)

In [122]:
#creating the empty list 
POS=[]
TEAM=[]
MATCHES=[]
POINTS=[]
RATINGS=[]

In [123]:
# using driver getting the elements of the top team as the tags are different of top and rest of the teams
pos=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--pos']")
tm=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--team-name']//span[@class='u-hide-phablet']")
MaT=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--matches']")
POI=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--points']")
Rati=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--rating u-text-right']")

In [124]:
#loop to get position of team
for i in pos:
    POS.append(i.text)

In [125]:
#loop to get team of team
for i in tm:
    TEAM.append(i.text)

In [126]:
#loop to get number of matches played by team
for i in MaT:
    MATCHES.append(i.text)

In [127]:
#loop to get points of team
for i in POI:
    POINTS.append(i.text)

In [128]:
#loop to get rating of team
for i in Rati:
    RATINGS.append(i.text)

In [129]:
#creating empty list for storing data for rest of the teams
No=[]
team_name=[]
matches_=[]
points_=[]
rating_=[]

In [130]:
# using driver getting the elements of the rest of the teams
Nums=driver.find_elements_by_xpath("//td[@class='table-body__cell table-body__cell--position u-text-right']")
tm=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__team']//span[2]")
MaT=driver.find_elements_by_xpath("//tr[@class='table-body']//td[3]")
POI=driver.find_elements_by_xpath("//tr[@class='table-body']//td[4]")
Rati=driver.find_elements_by_xpath("//td[@class='table-body__cell u-text-right rating']")

In [131]:
#loop to get position of teams
for i in Nums:
    No.append(i.text)

In [132]:
#loop to get team of teams
for i in tm:
    team_name.append(i.text)

In [133]:
#loop to get number of matches played by teams
for i in MaT:
    matches_.append(i.text)

In [134]:
#loop to get points of teamss
for i in POI:
    points_.append(i.text)

In [135]:
#loop to get rating of teams
for i in Rati:
    rat=i.text
    rating_.append(rat)

In [136]:
#extending the data of the rest of teams to the top team and get one list of each attribute
POS.extend(No)
TEAM.extend(team_name)
MATCHES.extend(matches_)
POINTS.extend(points_)
RATINGS.extend(rating_)

In [137]:
#checking length of the list
print(len(POS))
print(len(TEAM))
print(len(MATCHES))
print(len(POINTS))
print(len(RATINGS))

10
10
10
10
10

In [138]:
#creating dataframe and storing info
import pandas as pd
womens_team=pd.DataFrame({})
womens_team['POS']=POS
womens_team['TEAM']=TEAM
womens_team['MATCHES']=MATCHES
womens_team['POINTS']=POINTS
womens_team['RATINGS']=RATINGS

In [139]:
#displays top 10 womens ODI teams
womens_team

  POS          TEAM MATCHES POINTS RATINGS
0   1     Australia      15  2,436     162
1   2         India      15  1,812     121
2   3       England      14  1,670     119
3   4  South Africa      16  1,713     107
4   5   New Zealand      15  1,384      92
5   6   West Indies      12  1,025      85
6   7      Pakistan      12    927      77
7   8    Bangladesh       5    306      61
8   9     Sri Lanka      11    519      47
9  10       Ireland       2     25      13

### __ii) Top 10 women’s ODI players along with the records of their team and rating.__

In [140]:
#link-https://www.icc-cricket.com/rankings/womens/player-rankings/odi

In [141]:
#calling the function and then entering the link
x6_1=url()

enter the Url for web scraping https://www.icc-cricket.com/rankings/womens/player-rankings/odi

In [142]:
driver.get(x6_1)

In [143]:
#creating the empty list 
Pos=[]
Player_Name=[]
Team=[]
Ratings=[]

In [144]:
# using driver getting the elements of the top player in ODI batting
p=driver.find_elements_by_xpath("//div[@data-title='ODI Batting Rankings']//div[@class='rankings-block__banner--pos']")
name=driver.find_elements_by_xpath("//div[@data-title='ODI Batting Rankings']//div[@class='rankings-block__banner--name']")
team=driver.find_elements_by_xpath("//div[@data-title='ODI Batting Rankings']//div[@class='rankings-block__banner--nationality']")
p_rating=driver.find_elements_by_xpath("//div[@data-title='ODI Batting Rankings']//div[@class='rankings-block__banner--rating']")

In [145]:
#loop to get position of player
for i in p:
    Pos.append(i.text)

In [146]:
#loop to get name of top player
for i in name:
    Player_Name.append(i.text)

In [147]:
#loop to get team name or country  by which player is playing 
for i in team:
    Team.append(i.text)

In [148]:
#loop to get rating  of player
for i in p_rating:
    Ratings.append(i.text)

In [149]:
Team=Team[0].rsplit("\n")

In [150]:
Team=Team[0].rsplit("\n")

In [151]:
Team

['AUS']

In [152]:
#creating empty list for storing data for rest of the teams
p_o_s=[]
p_name=[]
p_team=[]
p_rating=[]

In [153]:
# using driver getting the elements of the rest of the player
p_no_=driver.find_elements_by_xpath("//div[@data-title='ODI Batting Rankings']//td[@class='table-body__cell table-body__cell--position u-text-right']")
p_name_=driver.find_elements_by_xpath("//div[@data-title='ODI Batting Rankings']//td[@class='table-body__cell name']")
p_team_=driver.find_elements_by_xpath("//div[@data-title='ODI Batting Rankings']//tr[@class='table-body']//span[@class='table-body__logo-text']")
p_rating_=driver.find_elements_by_xpath("//div[@data-title='ODI Batting Rankings']//td[@class='table-body__cell u-text-right rating']")

In [154]:
#loop to get position of player
for i in p_no_:
    p_o_s.append(i.text)

In [155]:
#loop to get name of top player
for i in p_name_:
    p_name.append(i.text)

In [156]:
#loop to get team name or country  
for i in p_team_:
    p_team.append(i.text)

In [157]:
#loop to get rating  of player
for i in p_rating_:
    p_rating.append(i.text)

In [158]:
#extending the data of the rest of teams to the top team and get one list of each attribute
Pos.extend(p_o_s)
Player_Name.extend(p_name)
Team.extend(p_team)
Ratings.extend(p_rating)

In [159]:
# checking the length of the list
print(len(Pos))
print(len(Player_Name))
print(len(Ratings))
print(len(Team))

10
10
10
10

In [160]:
#creating the dataframe and storing the info in it
import pandas as pd
top10_women_players=pd.DataFrame({})
top10_women_players['Pos']=Pos
top10_women_players['Player_Name']=Player_Name
top10_women_players['Team']=Team
top10_women_players['Ratings']=Ratings

In [161]:
#displays top 10 women ODI players
top10_women_players

  Pos        Player_Name Team Ratings
0   1        Meg Lanning  AUS     749
1   2    Stafanie Taylor   WI     746
2   3       Alyssa Healy  AUS     741
3   4    Smriti Mandhana  IND     732
4   5  Amy Satterthwaite   NZ     723
5   6     Tammy Beaumont  ENG     716
6   7       Ellyse Perry  AUS     691
7   8        Lizelle Lee   SA     690
8   9    Laura Wolvaardt   SA     689
9  10        Mithali Raj  IND     687

### iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [162]:
#link- https://www.icc-cricket.com/rankings/womens/player-rankings/odi

In [163]:
#calling function
x6_3=url()

enter the Url for web scraping https://www.icc-cricket.com/rankings/womens/player-rankings/odi

In [164]:
driver.get(x6_3)

In [165]:
#creating empty list
Pos6=[]
Player_Name6=[]
Team6=[]
Ratings6=[]

In [166]:
#finding the elements  of position 
p6=driver.find_elements_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//div[@class='rankings-block__banner--pos']")

In [167]:
#getting the name of the top all rounder
name6=driver.find_elements_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//div[@class='rankings-block__banner--name']")

In [168]:
#getting the nation of the top all rounder
team6=driver.find_elements_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//div[@class='rankings-block__banner--nationality']")

In [169]:
#rating of the top all rounder
p_rating6=driver.find_elements_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//div[@class='rankings-block__banner--rating']")

In [170]:
#appending the position of the player
for i in p6:
    Pos6.append(i.text)

In [171]:
#appending the name of the player
for i in name6:
    Player_Name6.append(i.text)

In [172]:
#appending the nation of the player
for i in team6:
    Team6.append(i.text)

In [173]:
#appending the rating of the player
for i in p_rating6:
    Ratings6.append(i.text)

In [174]:
Team6=Team6[0].rsplit("\n")

In [175]:
Team6=Team6[0].rsplit("\n")

In [176]:
#creating empty list for other player data
p_o_s6=[]
p_name6=[]
p_team6=[]
p_rating6=[]

In [177]:
p_no_6=driver.find_elements_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//td[@class='table-body__cell table-body__cell--position u-text-right']")

In [178]:
p_name_6=driver.find_elements_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//td[@class='table-body__cell name']")

In [179]:
p_team_6=driver.find_elements_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//tr[@class='table-body']//span[@class='table-body__logo-text']")

In [180]:
p_rating_6=driver.find_elements_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//td[@class='table-body__cell u-text-right rating']")

In [181]:
for i in p_no_6:
    p_o_s6.append(i.text)

In [182]:
for i in p_name_6:
    Player_Name6.append(i.text)

In [183]:
for i in p_team_6:
    p_team6.append(i.text)

In [184]:
for i in p_rating_6:
    p_rating6.append(i.text)

In [185]:
#extending the list of other player with the top player  
Pos6.extend(p_o_s6)
Player_Name6.extend(p_name6)
Team6.extend(p_team6)
Ratings6.extend(p_rating6)

In [186]:
#checking the list of the data
print(len(Pos6))
print(len(Player_Name6))
print(len(Ratings6))
print(len(Team6))

10
10
10
10

In [187]:
#creating the dataframe 
import pandas as pd
AR_women_players=pd.DataFrame({})
AR_women_players['Pos6']=Pos6
AR_women_players['Player_Name6']=Player_Name6
AR_women_players['Team6']=Team6
AR_women_players['Ratings6']=Ratings6

In [188]:
#displays top womens all rounder in ODI
AR_women_players

  Pos6      Player_Name6 Team6 Ratings6
0    1      Ellyse Perry   AUS      460
1    2   Stafanie Taylor    WI      410
2    3    Marizanne Kapp    SA      389
3    4     Deepti Sharma   IND      359
4    5  Dane van Niekerk    SA      335
5    6     Jess Jonassen   AUS      301
6    7     Sophie Devine    NZ      289
7    8    Natalie Sciver   ENG      273
8    9     Shikha Pandey   IND      250
9   10   Katherine Brunt   ENG      232

## 7. Python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [212]:
#link- https://www.amazon.in/s?i=electronics&bbn=1389432031&rh=n%3A1389432031%2Cp_36%3A100000-2000000&dc&qid=1610357215&rnid=1318502031&ref=sr_pg_1

In [13]:
#calling the function
x7=url()

enter the Url for web scraping https://www.amazon.in/s?i=electronics&bbn=1389432031&rh=n%3A1389432031%2Cp_36%3A100000-2000000&dc&qid=1610357215&rnid=1318502031&ref=sr_pg_1

In [14]:
driver.get(x7)

In [15]:
#importing time
import time

In [20]:
#creating empty list
product_name=[]
price=[]
image_url=[]
avg_rating=[]

In [21]:
#here we are running for loop for all the pages from where we need to scrap data and getting all data required like name,price,image url and rating of mobiles
for i in range(0,155):
    for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
        product_name.append(i.text)
    for j in driver.find_elements_by_xpath("//span[@class='a-price-whole']"):
        price.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span[1]"):
        avg=k.get_attribute('aria-label')
        avg_rating.append(avg)
    for l in driver.find_elements_by_xpath("//img[@class='s-image']"):
        a=l.get_attribute('src')
        image_url.append(a)
    driver.find_element_by_xpath("//ul[@class='a-pagination']/li[7]").click()  #this will take the current page to the next page
    time.sleep(5) #this we keep the loop to wait for 5 seconds to scrap new page as loading of new page can take a seconds

In [22]:
#printing length of list
print(len(product_name))
print(len(price))
print(len(image_url))
print(len(avg_rating))

3720
3720
3720
3720

In [23]:
#creating the dataframe
import pandas as pd
Phone_Details=pd.DataFrame({})
Phone_Details['product_name']=product_name
Phone_Details['price']=price
Phone_Details['image_url']=image_url
Phone_Details['avg_rating']=avg_rating

In [24]:
#displays the details of mobiles under 20,000
Phone_Details

,product_name,price,image_url,avg_rating
0,"Samsung Guru 1200 (GT-E1200, White)","1,340",https://m.media-amazon.com/images/I/417VlC+AqL...,4.2 out of 5 stars
1,Nokia 5.3 Android One Smartphone with Quad Cam...,"11,999",https://m.media-amazon.com/images/I/61L1ItFgFH...,3.7 out of 5 stars
2,"Redmi 9 Prime (Sunrise Flare, 4GB RAM, 64GB St...","9,999",https://m.media-amazon.com/images/I/71GqB5VJFg...,4.2 out of 5 stars
3,"Redmi 9 Power (Blazing Blue, 4GB RAM, 128GB St...","11,998",https://m.media-amazon.com/images/I/71XbGanz3q...,3.4 out of 5 stars
4,"Redmi Note 9 Pro Max (Glacier White, 6GB RAM, ...","15,999",https://m.media-amazon.com/images/I/81gdSMa6V5...,4.1 out of 5 stars
...,...,...,...,...
3715,"Redmi 9 (Sporty Orange, 4GB RAM, 128GB Storage)","9,999",https://m.media-amazon.com/images/I/61Kov7PY9V...,4.0 out of 5 stars
3716,"Redmi Note 9 (Aqua Green, 4GB RAM 128GB Storag...","12,999",https://m.media-amazon.com/images/I/81EjHa-dSJ...,4.2 out of 5 stars
3717,"Samsung Galaxy M21 (Raven Black, 6GB RAM, 128G...","15,999",https://m.media-amazon.com/images/I/71QLvGIAq5...,4.2 out of 5 stars
3718,"Redmi 9 Power (Mighty Black, 4GB RAM, 128GB St...","11,998",https://m.media-amazon.com/images/I/71Mg51D9C6...,3.5 out of 5 stars
3719,Nokia 105 Single SIM (Pink),"1,199",https://m.media-amazon.com/images/I/41CTK-5ZTf...,4.1 out of 5 stars

## 8.Python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. Need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [21]:
# link-https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YAGZF3Yza00

In [28]:
# calling the function
x8=url()

enter the Url for web scraping https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YAGZF3Yza00

In [29]:
driver.get(x8)

In [141]:
#creating the empty list
period=[] 
short_description=[]
temperature=[] 
description=[]

In [142]:
#getting period of the forecast
Period=driver.find_elements_by_xpath("//div[@class='col-sm-2 forecast-label']")

In [143]:
#using loop extracting text data 
for i in Period:
    period.append(i.text)

In [144]:
#since we need extended forecast of seven days just removing current forecast
period=period[1:]
period

['Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'M.L.King Day',
 'Monday Night',
 'Tuesday',
 'Tuesday Night',
 'Wednesday',
 'Wednesday Night',
 'Thursday',
 'Thursday Night',
 'Friday']

In [145]:
#taking short description about forecast
Short_description=driver.find_elements_by_xpath("//p[@class='short-desc']")

In [146]:
#using loop and getting the data
for i in Short_description:
    short_description.append(i.text)

In [147]:
#again removing current day description since current day has 2 data so we slice from index 2
short_description=short_description[2:]

In [148]:
#display data and we can see it  has only data 4 to 5 days 
short_description

['Sunny',
 'Mostly Clear',
 'Sunny',
 'Mostly Clear',
 'Sunny',
 'Mostly Clear',
 'Sunny']

In [149]:
#extracting elements of the temperature
temp=driver.find_elements_by_xpath("//p[@class='temp temp-high'] | //p[@class='temp temp-low'] ")

In [150]:
for i in temp:
    temperature.append(i.text)

In [151]:
# removing current day temperature 
temperature=temperature[1:]

In [152]:
#getting description of the forecast
desc=driver.find_elements_by_xpath("//div[@class='col-sm-10 forecast-text']")

In [153]:
for i in desc:
    description.append(i.text)

In [154]:
#slicing again current day description
description=description[1:]

In [155]:
description

['Sunny, with a high near 65. Calm wind becoming west southwest around 6 mph in the afternoon.',
 'Mostly clear, with a low around 49. Calm wind.',
 'Sunny, with a high near 67. Calm wind becoming north northwest around 5 mph in the afternoon.',
 'Mostly clear, with a low around 50. West wind around 6 mph becoming calm.',
 'Sunny, with a high near 70.',
 'Mostly clear, with a low around 52.',
 'Sunny, with a high near 67.',
 'Mostly clear, with a low around 47.',
 'Sunny, with a high near 64.',
 'Mostly clear, with a low around 46.',
 'Mostly sunny, with a high near 61.',
 'Partly cloudy, with a low around 45.',
 'Mostly sunny, with a high near 57.']

In [156]:
#creating two empty list to get info for sort description and temperature from description and store in it
a=[]
b=[]

In [157]:
#splitting the data, so that we can extract info from it which was not available for rest of days in temoperature and short desc
for i in description[-6:]:
    s=i.split(',')
    a.append(s[0])
    b.append(s[1])

In [158]:
#it displays the rest of the days short description
a

['Mostly clear',
 'Sunny',
 'Mostly clear',
 'Mostly sunny',
 'Partly cloudy',
 'Mostly sunny']

In [159]:
#this list have data from which we need to extract temperature
b

[' with a low around 47.',
 ' with a high near 64.',
 ' with a low around 46.',
 ' with a high near 61.',
 ' with a low around 45.',
 ' with a high near 57.']

In [160]:
#initializing a list of words need to remove to get the temperature
word_list = ["with", 'a', 'near','around']

In [161]:
#replacing the words 
repl_wrd = ''

In [162]:
c=[]

In [163]:
#running the loop and removing words from the string and then joining
for i in range(0,6):
    r = ' '.join([repl_wrd if idx in word_list else idx for idx in b[i].split()])
    c.append(r)

In [164]:
#string have spaces at starting so using lstrip removing spaces
c = [x.lstrip(' ') for x in c]

In [165]:
#now replacing to get desired format
c = [x.replace('  ',": ") for x in c]
c = [x.replace('.'," °F") for x in c]

In [166]:
#now data is in same format as in the temperature list
c

['low: 47 °F',
 'high: 64 °F',
 'low: 46 °F',
 'high: 61 °F',
 'low: 45 °F',
 'high: 57 °F']

In [167]:
#so now extending the data 
temperature.extend(c)
short_description.extend(a)

In [168]:
#checking the length of the list
print(len(period))
print(len(temperature))
print(len(short_description))
print(len(description))

13
13
13
13

In [169]:
#creating the dataframe
import pandas as pd
forecast=pd.DataFrame({})
forecast['period']=period
forecast['temperature']=temperature
forecast['short_description']=short_description
forecast['description']=description

In [170]:
forecast

,period,temperature,short_description,description
0,Saturday,High: 65 °F,Sunny,"Sunny, with a high near 65. Calm wind becoming..."
1,Saturday Night,Low: 49 °F,Mostly Clear,"Mostly clear, with a low around 49. Calm wind."
2,Sunday,High: 67 °F,Sunny,"Sunny, with a high near 67. Calm wind becoming..."
3,Sunday Night,Low: 50 °F,Mostly Clear,"Mostly clear, with a low around 50. West wind ..."
4,M.L.King Day,High: 70 °F,Sunny,"Sunny, with a high near 70."
5,Monday Night,Low: 52 °F,Mostly Clear,"Mostly clear, with a low around 52."
6,Tuesday,High: 67 °F,Sunny,"Sunny, with a high near 67."
7,Tuesday Night,low: 47 °F,Mostly clear,"Mostly clear, with a low around 47."
8,Wednesday,high: 64 °F,Sunny,"Sunny, with a high near 64."
9,Wednesday Night,low: 46 °F,Mostly clear,"Mostly clear, with a low around 46."
10,Thursday,high: 61 °F,Mostly sunny,"Mostly sunny, with a high near 61."
11,Thursday Night,low: 45 °F,Partly cloudy,"Partly cloudy, with a low around 45."
12,Friday,high: 57 °F,Mostly sunny,"Mostly sunny, with a high near 57."

## 9 Python program to scrape ‘software developer’ job listings from ‘Monster.com’ upto 5 pages.

In [25]:
#link- https://www.monsterindia.com/srp/results?query=Software%20Developer&searchId=a228838f-5d1a-452e-928d-74e3d587a7f9

In [158]:
#calling the function
x8=url()

enter the Url for web scraping https://www.monsterindia.com/srp/results?query=Software%20Developer&searchId=a228838f-5d1a-452e-928d-74e3d587a7f9

In [159]:
driver.get(x8)

In [160]:
#importing the time
import time

In [161]:
#creating empty list
job_title=[]
company_name=[]
location=[]
experience=[]
salary=[]
posted=[]

In [162]:
#scrapping data upto 5 pages so running for loop upto that page and scrapping the all data needed to scrap
for a in range(0,5):
    for i in driver.find_elements_by_xpath("//h3[@class= 'medium']/a[1]"):
        job_title.append(i.text) 
    for j in driver.find_elements_by_xpath("//span[@class= 'company-name']"):
        company_name.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class= 'col-xxs-12 col-sm-5 text-ellipsis']"):
        location.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class= 'exp col-xxs-12 col-sm-3 text-ellipsis']"):
        experience.append(l.text)
    for m in driver.find_elements_by_xpath("//div[@class= 'package col-xxs-12 col-sm-4 text-ellipsis']"):
        salary.append(m.text)
    for n in driver.find_elements_by_xpath("//div[@class= 'posted-update pl5'] //span[@class= 'posted'] | //div[@class= 'card-footer apply-footer no-bdr']//span[2][@class= 'posted']"):
        posted.append(n.text)
    driver.find_element_by_xpath("//div[@class='srp-navigation']/a[2]").click()  
    time.sleep(7)

In [163]:
#printing the length of list
print(len(job_title))
print(len(company_name))
print(len(location))
print(len(experience))
print(len(salary))
print(len(posted))

125
125
125
125
125
142

In [167]:
#as the lenght of posted is not equal to other as there is getting additional string '|' .so we will remove it using for loop
for i in posted:
    if i=='|':
        posted.remove(i)

In [169]:
len(posted)

125

In [170]:
#creating the dataframe 
import pandas as pd
JOB_Details=pd.DataFrame({})
JOB_Details['job_title']=job_title
JOB_Details['company_name']=company_name
JOB_Details['location']=location
JOB_Details['experience']=experience
JOB_Details['salary']=salary
JOB_Details['posted']=posted

In [171]:
#displays the dataframe
JOB_Details

,job_title,company_name,location,experience,salary,posted
0,SFCC Developer - Demandware Platform,Rohini IT Consulting LLP,Pune,3-8 Years,Not Specified,Posted: 5 days ago
1,urgent hiring work from home job for (AWS Dev ...,Company Name Confidential,"Bengaluru / Bangalore, Delhi",4-10 Years,"5,00,000-13,00,000 INR",Posted: 30+ days ago
2,"Hiring ""Software Developer"" - Mumbai",HR Dynamics,"Mumbai, Mumbai City",2-6 Years,Not Specified,Posted: 30+ days ago
3,Software Developer (Asp.Net),Muskaan Parveen (Proprietor Of Muskan Industry),Hubli,0-2 Years,"1,30,000-3,60,000 INR",Posted: 6 hours ago
4,Software Tester,Solitaire Infotech Solution,Bengaluru / Bangalore,0-2 Years,"1,20,000-3,50,000 INR",Posted: 7 hours ago
...,...,...,...,...,...,...
120,Integration Developer,Minda Solution Tech Mark,Vellore,0-2 Years,"2,29,999-4,30,000 INR",Posted: 30+ days ago
121,Front End Developer,Aitechex Quantum Innovative Solutions Private ...,Hyderabad / Secunderabad,0-5 Years,"3,00,000-7,00,000 INR",Posted: 13 days ago
122,Software Design Engineer,Muskaan Parveen (Proprietor Of Muskan Industry),Kolkata,0-2 Years,"1,20,000-3,70,000 INR",Posted: 4 days ago
123,Executive- Software Support,Muskaan Parveen (Proprietor Of Muskan Industry),Hassan,0-2 Years,"1,30,000-3,60,000 INR",Posted: 4 days ago
124,.Net Developer For Chandigarh Location,MNR Solutions Private Limited,Chandigarh,2-6 Years,Not Specified,Posted: 30+ days ago

In [172]:
#in posted column tere is additional info so we wil remove that 
JOB_Details['posted'] = JOB_Details['posted'].str.replace(r'Posted:', '')

In [173]:
#final data
JOB_Details

,job_title,company_name,location,experience,salary,posted
0,SFCC Developer - Demandware Platform,Rohini IT Consulting LLP,Pune,3-8 Years,Not Specified,5 days ago
1,urgent hiring work from home job for (AWS Dev ...,Company Name Confidential,"Bengaluru / Bangalore, Delhi",4-10 Years,"5,00,000-13,00,000 INR",30+ days ago
2,"Hiring ""Software Developer"" - Mumbai",HR Dynamics,"Mumbai, Mumbai City",2-6 Years,Not Specified,30+ days ago
3,Software Developer (Asp.Net),Muskaan Parveen (Proprietor Of Muskan Industry),Hubli,0-2 Years,"1,30,000-3,60,000 INR",6 hours ago
4,Software Tester,Solitaire Infotech Solution,Bengaluru / Bangalore,0-2 Years,"1,20,000-3,50,000 INR",7 hours ago
...,...,...,...,...,...,...
120,Integration Developer,Minda Solution Tech Mark,Vellore,0-2 Years,"2,29,999-4,30,000 INR",30+ days ago
121,Front End Developer,Aitechex Quantum Innovative Solutions Private ...,Hyderabad / Secunderabad,0-5 Years,"3,00,000-7,00,000 INR",13 days ago
122,Software Design Engineer,Muskaan Parveen (Proprietor Of Muskan Industry),Kolkata,0-2 Years,"1,20,000-3,70,000 INR",4 days ago
123,Executive- Software Support,Muskaan Parveen (Proprietor Of Muskan Industry),Hassan,0-2 Years,"1,30,000-3,60,000 INR",4 days ago
124,.Net Developer For Chandigarh Location,MNR Solutions Private Limited,Chandigarh,2-6 Years,Not Specified,30+ days ago

## 10. Python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [174]:
# https://www.monsterindia.com/srp/results?query=Data%20Scientist&locations=Delhi&searchId=e834cd43-aeb8-4ff6-8a14-b2bf71efd413

In [294]:
x9=url()

enter the Url for web scraping https://www.monsterindia.com/srp/results?query=Data%20Scientist&locations=Delhi&searchId=e834cd43-aeb8-4ff6-8a14-b2bf71efd413

In [295]:
driver.get(x9)

In [260]:
#creating empty list
Job_title=[]
Company_name=[]
Location=[]
Experience=[]
Salary=[]
Posted=[]

In [261]:
#scrapping data upto 5 pages so running for loop upto that page and scrapping the all data needed to scrap
for a in range(0,5):
    for i in driver.find_elements_by_xpath("//div[@class= 'job-tittle']/h3/a"):
        Job_title.append(i.text) 
    for j in driver.find_elements_by_xpath("//span[@class= 'company-name']"):
        Company_name.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class= 'col-xxs-12 col-sm-5 text-ellipsis']"):
        Location.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class= 'exp col-xxs-12 col-sm-3 text-ellipsis']"):
        Experience.append(l.text)
    for m in driver.find_elements_by_xpath("//div[@class= 'package col-xxs-12 col-sm-4 text-ellipsis']"):
        Salary.append(m.text)
    for n in driver.find_elements_by_xpath("//div[@class= 'posted-update pl5']//span[@class= 'posted'] | //div[@class= 'card-footer apply-footer no-bdr']//span[2][@class= 'posted']"):
        Posted.append(n.text)
    driver.find_element_by_xpath("//div[@class='srp-navigation']/a[2]").click()  
    time.sleep(7)

In [262]:
#length of the list
print(len(Job_title))
print(len(Company_name))
print(len(Location))
print(len(Experience))
print(len(Salary))
print(len(Posted))

126
126
126
126
126
177

In [266]:
# in psoted list '|' this also comes along with data so we will remove this
for i in Posted:
    if i=='|':
        Posted.remove(i)

In [268]:
#now creating the dataframe 
import pandas as pd
JOB_DS=pd.DataFrame({})
JOB_DS['Job_title']=Job_title
JOB_DS['Company_name']=Company_name
JOB_DS['Location']=Location
JOB_DS['Experience']=Experience
JOB_DS['Salary']=Salary
JOB_DS['Posted']=Posted

In [269]:
JOB_DS

,Job_title,Company_name,Location,Experience,Salary,Posted
0,SOFTWARE ARCHITECT / IT ARCHITECT / TECH ARCHI...,Promax Legal Solution Private Limited,"Delhi, Mohali",8-15 Years,Not Specified,Posted: 20 days ago
1,Master Data Lead,Insigma Technologies Private Limited,"Delhi, Noida",4-14 Years,Not Specified,Posted: 30+ days ago
2,Data Engineer - AI,Snaphunt Pte Ltd,"Bengaluru / Bangalore, Delhi",0-5 Years,Not Specified,Posted: 30+ days ago
3,Data Engineer,Snaphunt Pte Ltd,"Bengaluru / Bangalore, Delhi",2-7 Years,Not Specified,Posted: 30+ days ago
4,Data Analyst – Fresher – Data Scientist – Grad...,Structured Learning Assistance Consultants Ind...,"Delhi, Noida",0-5 Years,Not Specified,Posted: 5 days ago
...,...,...,...,...,...,...
121,Data entry work from home,Company Name Confidential,"Delhi, Noida",Fresher,"2,50,000-3,50,000 INR",Posted: 24 days ago
122,Data administration Data Entry / home based job,Company Name Confidential,"Bengaluru / Bangalore, Delhi",Fresher,Not Specified,Posted: 30+ days ago
123,Urgent vacancy for freshers Call Center/Domest...,Hiring Choice Solution,"Delhi, Noida",0-1 Years,Not Specified,Posted: 25 days ago
124,HIRING || BPO || DATA ENTRY || CALLING || FEIL...,Hiring Choice Solution,"Delhi, Gurgaon / Gurugram",0-1 Years,"2,10,000-3,30,000 INR",Posted: 13 days ago
125,DATA ENTRY OPERATOR Fresher candidate,NKV Enterprises,"Delhi, Gurgaon / Gurugram",0-5 Years,Not Specified,Posted: a month ago

In [270]:
#just removing unecessary substring in the posted column   
JOB_DS['Posted'] = JOB_DS['Posted'].str.replace(r'Posted:', '')

In [271]:
#final dataframe
JOB_DS

,Job_title,Company_name,Location,Experience,Salary,Posted
0,SOFTWARE ARCHITECT / IT ARCHITECT / TECH ARCHI...,Promax Legal Solution Private Limited,"Delhi, Mohali",8-15 Years,Not Specified,20 days ago
1,Master Data Lead,Insigma Technologies Private Limited,"Delhi, Noida",4-14 Years,Not Specified,30+ days ago
2,Data Engineer - AI,Snaphunt Pte Ltd,"Bengaluru / Bangalore, Delhi",0-5 Years,Not Specified,30+ days ago
3,Data Engineer,Snaphunt Pte Ltd,"Bengaluru / Bangalore, Delhi",2-7 Years,Not Specified,30+ days ago
4,Data Analyst – Fresher – Data Scientist – Grad...,Structured Learning Assistance Consultants Ind...,"Delhi, Noida",0-5 Years,Not Specified,5 days ago
...,...,...,...,...,...,...
121,Data entry work from home,Company Name Confidential,"Delhi, Noida",Fresher,"2,50,000-3,50,000 INR",24 days ago
122,Data administration Data Entry / home based job,Company Name Confidential,"Bengaluru / Bangalore, Delhi",Fresher,Not Specified,30+ days ago
123,Urgent vacancy for freshers Call Center/Domest...,Hiring Choice Solution,"Delhi, Noida",0-1 Years,Not Specified,25 days ago
124,HIRING || BPO || DATA ENTRY || CALLING || FEIL...,Hiring Choice Solution,"Delhi, Gurgaon / Gurugram",0-1 Years,"2,10,000-3,30,000 INR",13 days ago
125,DATA ENTRY OPERATOR Fresher candidate,NKV Enterprises,"Delhi, Gurgaon / Gurugram",0-5 Years,Not Specified,a month ago